* {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: Geneva, sans-serif;
  letter-spacing: 2px;
  font-size: 15px;
  line-height: 1.5;
  background-repeat: no-repeat;
  overflow-y: hidden;
  background-image: linear-gradient(white, #D6D6D6);
}


.header {
  background-image: linear-gradient(to bottom right, #09162A, #226F73);
  padding: 10px;
  font-size: 18px;
  padding-bottom: 20px;
  color: white;
  text-align: left;
  padding-left: 5%;
  padding-top: 10px;
  box-shadow: 0 10px 10px grey;
  letter-spacing: 4px;
}


.column {
  float: left;
  margin: auto;
  width: 50%;
  padding: 20px;
  margin-bottom: 70px;
}

h2 {
  margin-left: 10%;
  text-transform: uppercase;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}

.rightbutton, .leftbutton, .allbutton, .addbutton {
  background-color: #226F73;
  border: none;
  padding: 3px 7px;
  cursor: pointer;
  width: 70px;
  height: 70px;
  font-size: 18px;
  font-family: Geneva, sans-serif;
  border-radius: 50%;
  position: absolute;
  color: white;
  box-shadow: 5px 10px 10px grey;
}

.rightbutton, .leftbutton {
  left: 50%;
  transform: translate(-50%);
  top: 50%;
}

.allbutton, .addbutton {
  left: 90%;
  top: 85%;
}

.allbutton {
  background-image: url(./all.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.addbutton {
  background-image: url(./add.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.rightbutton {
  background-image: url(./right.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.leftbutton {
  background-image: url(./left.png);
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.rightbutton:hover, .leftbutton:hover, .allbutton:hover, .addbutton:hover {
  background-color: #185F62;
}


[name="text"] {
  letter-spacing: 2px;
  padding: 16px;
  width: 80%;
  height: 450px;
  resize: none;
  margin-left: 10%;
  border: transparent;
  border-radius: 4px;
  font-family: Geneva, sans-serif;
  font-size: 15px;
  box-shadow: inset 5px 10px 10px lightgrey;
}

[name="text"]:focus {
  outline: none;
}

.border {
  height: 60%;
  border-right: rgba(255,255,255,0.4) solid;
  left: 50%;
  top: 230px;
  position: fixed;
}


[name="syn"],[name="readonlytext"] {
  letter-spacing: 2px;
  background-color: transparent;
  width: 80%;
  height: 450px;
  resize: none;
  margin-left: 10%;
  border: none;
  outline: none;
  border-radius: 4px;
  font-family: Geneva, sans-serif;
  font-size: 15px;
}
