<!DOCTYPE HTML>
<html>
<head>
<title>Document</title>
<link href="{{ url_for('static', filename='StyleSheet.css')}}" rel="stylesheet" type="text/css">
</head>



<body>
<div class="header">
<h1>Essay Rewriter</h1>
</div>

<form action="{{ url_for('document', document='document', filename='filename') }}" method="post">
<div class="column">
<h2>Original Text</h2>
  <textarea readonly name="readonlytext">
  {%- for x in document -%}
    {%- if x.filename==filename -%}
      {{ x.original }}
  </textarea><br>
</div>



<div class="column">
<h2>Result</h2>
  <textarea readonly name="syn">
{{ x.syn }}
  </textarea><br>
  <input type="hidden" name=hidden value={{x.filename}}>
  <input type="submit" name=back value="Back" id="y">
  <input type="submit" name=delete value="Delete" id="y">
</div>


<div class="single">
<h2>Filename: {{ x.filename }}</h2>
  <input type="text" name=new>
  <input type="submit" name=change value="Change" id="y">
</div>
{%- endif -%}
{%- endfor -%}
</form>

</body>
</html>
